extends layout

block content
    header#header
      .japan-banner
        .overlay
          .container
            .row
              .intro-text
    #services.text-center(style="height: 100%")
      .container
        .col-md-10.col-md-offset-1.section-title
          h2 Exam Type
          hr
          p 可以選擇你想要的考試方式
        .row
          .col-xs-6.col-md-4.col-md-offset-1
            a(href="/exam/reading")
                .choose-box
                    i.fa.fa-language
                    h4 日文文字翻中文
                    h5 你可以選擇一定自己字庫的一定題數來做測驗，題目會有日文文字，您必須翻譯成中文。
          .col-xs-6.col-md-4.col-md-offset-2
            a(href="/exam/listening")
                .choose-box
                    i.fa.fa-headphones
                    h4 日文發音翻中文
                    h5 你可以選擇一定自己字庫的一定題數來做測驗，題目會有日文發音，您必須翻譯成中文。
        //-   .col-xs-6.col-md-3
        //-     .choose-box
        //-         i.fa.fa-gears
        //-         h4 Tempus eleifend
        //-         p
        //-         | Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend pellentesque natoque etiam.
        //-   .col-xs-6.col-md-3
        //-     .choose-box
        //-         i.fa.fa-language
        //-         h4 Pellentesque
        //-         p
        //-         | Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend pellentesque natoque.