extends layout

block content
    // Header
    header#header
      .intro
        .overlay
          .container
            .row
                .intro-text
    #pricing.text-center
            .container
                if words
                    each word, i in words
                        .col-md-3.col-xs-6.word-block.pointer
                            .pricing-table
                                .plan-name
                                    a(href="/words/setting?id=" + word.id + "&redirect=/words/all")
                                        <i class="fa fa-cog status-icon"></i>
                                    h3 #{word.word_type}
                                .plan-price
                                    h2 #{word.word_japanese}
                                            i.fas.fa-headphones.jp-pronounce(data-jp=word.word_japanese)
                                hr(style="width:initial; margin:0px")
                                .plan-price
                                    h2 #{word.word_chinese}
    script(type='text/javascript', src='/javascripts/pronounce.js')